 * {
	margin: 0;
	}
  html {
	padding: 20px;
	font: 12px Arial, sans-serif;
	}
  h1 {
	font: 12px Arial, sans-serif;
	font-weight: bold;
	}
  #div1, #div2 {
	border: 1px dashed #696;
	padding: 10px;
	background-color: #cfc;
	}
  #div1 {
	z-index: 2;
	margin-bottom: 190px;
	position: relative;
	}
  #div2 {
	z-index: 5;
	position: relative;
	}
  #div3 {
	position: absolute;
	top: 40px;
	left: 180px;
	width: 360px;
	border: 1px dashed #900;
	background-color: #fdd;
	padding: 30px 20px 10px;
	}
  #div4, #div5 {
	border: 1px dashed #996;
	background-color: #ffc;
	}
  #div4 {
	z-index: 3;
	margin-bottom: 15px;
	padding: 25px 10px 5px;
	position: relative;
	}
  #div5 {
	z-index: 4;
	margin-top: 15px;
	padding: 5px 10px 20px;
	position: relative;
	}
  #div6 {
	z-index: 6;
	position: absolute;
	top: 20px;
	left: 200px;
	width: 150px;
	height: 125px;
	border: 1px dashed #009;
	padding-top: 125px;
	background-color: #ddf;
	text-align: center;
	}
	#description {
		float:left;
		margin-top:30px;
		padding:10px;
		border: 1px dashed #009;
		background-color: #CFCFCF;
	}
	#description ul { padding-left: 15px; }